<include file="layout:head"/>
<div class="row">
    <ul class="crumb">
        <li><a href="/Home/">后台首页</a></li>
        <li><a href="/system/setting">系统设置</a></li>
        <li><a href="/Role/index">角色管理</a></li>
        <li class="last"><b>权限设置</b></li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">权限设置</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                节点管理
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    <ul class="dd-list">
                        <volist name="node" id="data">
                        <li class="dd-item">
                            <button data-action="collapse" type="button" style="display: block;">&nbsp;&nbsp;&nbsp;</button>
                            <button data-action="expand" type="button" style="display: none;"> &nbsp;&nbsp;&nbsp;</button>
                            <div class="dd-handle">
                                <div class="check-box"><font class="check"><input type="checkbox" name="check[]" value="{$data.id}" data-level="1"/></font></div>
                                {$data.name}
                            </div>
                            <if condition="$data['child']">
                            <ul class="dd-list">
                                <volist name="data['child']" id="item">
                                <li class="dd-item">
                                    <button data-action="collapse" type="button" style="display: none;">&nbsp;&nbsp;&nbsp;</button>
                                    <button data-action="expand" type="button" style="display: block;">&nbsp;&nbsp;&nbsp;</button>
                                    <div class="dd-handle">
                                        <div class="check-box"><font class="check"><input type="checkbox" name="check[]"{$check} value="{$item.id}" data-level="2"/></font></div>{$item.name}
                                    </div>
                                    <if condition="$item['child']">
                                    <ul class="dd-list" style="display: none">
                                        <volist name="item['child']" id="val">
                                        <li class="dd-item">
                                            <div class="dd-handle">
                                                <div class="check-box"><font class="check"><input type="checkbox" name="check[]" <if condition="!empty($val['check']) && $val['check'] eq 1">checked="checked"</if> value="{$val.id}" data-level="3"/></font></div>
                                                {$val.name}
                                            </div>
                                        </li>
                                        </volist>
                                    </ul>
                                    </if>
                                </li>
                                </volist>
                            </ul>
                            </if>
                        </li>
                        </volist>
                    </ul>
                    <div class="form-group" style="margin-top: 20px">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="button" id="btnOk" class="btn btn-default">确 定</button>
                            <a href="javascript:;" onclick="window.history.go(-1)" class="btn btn-default">返 回</a>
                            <input type="hidden" name="role_id" value="{$role_id}"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
<include file="layout:foot"/>
<script>
    $('a[link="del"]').off().on('click', function () {
        return confirm("确认删除当前节点吗？");
    })
    /*收缩*/
    $('button[data-action="collapse"]').click(function () {
        $(this).hide().next('button[data-action="expand"]').show();
        $(this).siblings('.dd-list').hide();
    });
    /*展开*/
    $('button[data-action="expand"]').click(function () {
        $(this).hide().prev('button[data-action="collapse"]').show();
        $(this).siblings('.dd-list').show();
    });


    $('.check-box').off().on('click', function(){
        var checkbox = $(this).find('input[name="check[]"]');
        var level = checkbox.data('level');

        if ($(this).find('font').hasClass('checked') == false) {
            checkbox.attr('checked', 'checked').prop('checked', 'checked');
            $(this).find('font').addClass('checked');
            $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('.check').addClass('checked');
            $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked');
            if (level == 1) {
                $(this).find('.check').removeClass('not_choose_all');
            }
        } else {
            $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('.check').removeClass('checked');
            $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('[name="check[]"]').removeAttr('checked').prop('checked', false);
            checkbox.removeAttr('checked').prop('checked', false);
            $(this).find('font').removeClass('checked');
        }


        var int_inputLenght = $('[name="check[]"]').length;
        if (level == 2 || level == 3) {
            if (level == 2 && !checkbox.is(':checked')) {
                $(this).find('.check').removeClass('not_choose_all');
            }
            if ($('[name="check[]"]').not('input:checked').length == 0) {
                $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').parent().addClass('checked').removeClass('not_choose_all')
            } else {
                if (int_inputLenght == $('[name="check[]"]').not('input:checked').length) {
                    $('input[data-level="1"]').removeAttr('checked').prop('checked', false).removeClass('checked').removeClass('not_choose_all')
                } else {
                    $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').parent().addClass('checked').addClass('not_choose_all')
                }
            }
        }

        if (level == 3) {
            var lenght = $(this).closest('.dd-item').siblings('li').find('[name="check[]"]').length;
            var int_notCheck = $(this).closest('.dd-list').find('li').find('[name="check[]"]').not('input:checked').length;
            if (int_notCheck == 0) {
                $(this).closest('.dd-list').prev('.dd-handle').find('.check-box > font').removeClass('not_choose_all').addClass('checked');
                $(this).closest('.dd-list').prev('.dd-handle').find('.check-box > font > input').attr('checked', 'checked').prop('checked', 'checked');
            } else {
                $(this).closest('.dd-list').prev('.dd-handle').find('.check-box > font').addClass('not_choose_all').addClass('checked');
                if (lenght == int_notCheck) {
                    $('input[data-level="1"]').removeAttr('checked').prop('checked', false).removeClass('checked').removeClass('not_choose_all')
                } else {
                    $(this).closest('.dd-list').prev('.dd-handle').find('.check-box > font > input').attr('checked', 'checked').prop('checked', 'checked');
                }
            }
        }
    })

//    $('.check-box').click(function () {
//        var level = $(this).data('level');
//        if (level == 1) {
//            if ($(this).find('name="check[]"').is(':checked')) {
//                $('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked');
//            } else {
//                $('[name="check[]"]').removeAttr('checked').prop('checked', false);
//            }
//        }
//        if (level == 2) {
//            if ($(this).is(':checked')) {
//                $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked');
//                /*全部选中,根节点权限,任意一个未选中的存在,根节点就不全选*/
//                if ($('[name="check[]"]').not('input:checked').length == 0) {
//                    $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').show().prev('div.checkbox-replace').hide();
//                } else {
//                    $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').hide().prev('div.checkbox-replace').show();
//                }
//            } else {
//                /*任意一个选中的,根节点就要选中,但是不是权限*/
//                if ($('[name="check[]"]:checked')) {
//                    $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').hide().prev('div.checkbox-replace').show();
//                } else {
//                    $('input[data-level="1"]').removeAttr('checked').prop('checked', false).show().prev('div.checkbox-replace ').hide();
//                }
//                $(this).parents('.dd-handle').siblings('.dd-list').children('.dd-item').find('[name="check[]"]').removeAttr('checked').prop('checked', false);
//                /*如果取消选中,有切仅剩根节点选中,那么移除根节点选中*/
//                if ($('[name="check[]"]:checked').length == 1 && $('input[data-level="1"]').is(':checked')) {
//                    $('#chk-1').parents('div.checkbox-replace').hide().next('input:checkbox').show().removeAttr('checked').prop('checked', false);
//                }
//            }
//        }
//        if (level == 3) {
//            if ($(this).is(':checked')) {
//                /*全部选中,根节点权限,任意一个未选中的存在,根节点就不全选*/
//                if ($('[name="check[]"]').not('input:checked').length == 0) {
//                    /*根节点勾选显示*/
//                    $('input[data-level="1"]').attr('checked', 'checked').prop('checked', 'checked').show().prev('div.checkbox-replace').hide();
//                    $(this).parents('.dd-item').parent().siblings('.dd-handle').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked').show();
//                    /*父节点勾选显示*/
//                    $(this).closest('.dd-list').siblings('.dd-handle').find('div.checkbox-replace').hide();
//                } else {
//                    /*勾选父级节点,和根节点*/
//                    $(this).parents('.dd-list').siblings('.dd-handle').find('div.checkbox-replace').show();
//                    /*勾选根节点,和父节点,并隐藏*/
//                    $(this).parents('.dd-list').siblings('.dd-handle').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked').hide();
//                }
//                /*如果兄弟节点全部勾选,父级节点展示勾选状态*/
//                if ($(this).closest('.dd-item').siblings('li').find('[name="check[]"]').not('input:checked').length == 0) {
//                    $(this).closest('.dd-list').siblings('.dd-handle').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked').show().prev('div.checkbox-replace').hide();
//                }
//            } else {
//                $(this).parents('.dd-list').siblings('.dd-handle').find('div.checkbox-replace').show();
//                /*勾选父级节点,和根节点*/
//                $(this).parents('.dd-list').siblings('.dd-handle').find('div.checkbox-replace').next('input:checkbox').hide();
//                /*如果兄弟节点勾选数量为0*/
//                if ($(this).closest('.dd-item').siblings('li').find('[name="check[]"]:checked').length == 0) {
//                    /*取消父节点的选中,显示勾选框*/
//                    $(this).closest('.dd-list').siblings('.dd-handle').find('div.checkbox-replace').hide().next('[name="check[]"]').removeAttr('checked').prop('checked', false).show();
//                }
//                /*如果取消选中,有切仅剩根节点选中,那么移除根节点选中*/
//                if ($('[name="check[]"]:checked').length == 1 && $('input[data-level="1"]').is(':checked')) {
//                    $('#chk-1').parents('div.checkbox-replace').hide().next('input:checkbox').show().removeAttr('checked').prop('checked', false);
//                }
//            }
//        }
//    });


    $('#chk-1').click(function () {
        $(this).parents('div.checkbox-replace').hide().next('input:checkbox').show().attr('checked', 'checked').prop('checked', 'checked');
        $('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked');
    });
    $('[name="chk"]').click(function () {
        $(this).parents('div.checkbox-replace').hide().next('input:checkbox').show().attr('checked', 'checked').prop('checked', 'checked');
        $(this).closest('.dd-handle').next('.dd-list').find('[name="check[]"]').attr('checked', 'checked').prop('checked', 'checked');
    });
    $("#btnOk").click(function () {
        var ids = '';
        $('[name="check[]"]').each(function () {
            if ($(this).is(':checked')) {
                ids += ',' + $(this).val();
            }
        });
        var id = $(this).data('id');
        var da = {};
        da.nodeArr = ids;
        da.role_id = $('[name="role_id"]').val();
        $.ajax({
            type: 'post',
            url: '/access/add',
            data: da,
            dataType: 'json',
            success: function (result) {
                window.location.reload();
            }
        });
    })
</script>
</body>
</html>
