</div>
<!-- /#page-wrapper -->
<!-- /#wrapper -->
</div>
<!-- jQuery -->
<script src="/public/admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/public/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/public/admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/public/admin/vendor/raphael/raphael.min.js"></script>
<script src="/public/admin/vendor/morrisjs/morris.min.js"></script>
<script src="/public/admin/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/public/admin/dist/js/sb-admin-2.js"></script>
<script type="text/javascript">

    $('.side-menu a').on('click', function(){
        if ($(this).find('.arrow').length > 0 ) {
            return false;
        }
    })

    // 固定左侧滑动菜单。
    var breadcrumb = [], minMenu = null;
    $('.crumb a[href]').each(function () {
        breadcrumb.unshift(this.href.toLowerCase());
    });

    console.log(breadcrumb);

    $('#side-menu > li > ul  a[href]').each(function () {
        if (this.href.toLowerCase() == breadcrumb[0]) {
            $parent = $(this).parent();

            $(this).addClass('active');
            $parent.addClass('active');
        }
    });

    $('#side-menu > li > a[href]').each(function () {
        console.log(this.href.toLowerCase());
        if (this.href.toLowerCase() == breadcrumb[1]) {
            $parent = $(this).parent();
            $parent.addClass('active');
        }
    });
</script>
