<include file="layout:head"/>
<div class="row">
    <ul class="crumb">
        <li><a href="/Home/">后台首页</a></li>
        <li><a href="/question/index">问题管理</a></li>
        <li class="last"><a href="/question/index"><b>问题列表</b></a></li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">问题列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<a href="/Question/add" class="btn btn-success">添加问题</a><br />
<!-- /.row -->
<div class="row" style="margin-top:20px;">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table width="100%"
                                   class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed"
                                   style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th  rowspan="1" colspan="1">id </th>
                                    <th  rowspan="1" colspan="1">角色名称 </th>
                                    <th  rowspan="1" colspan="1">成员数 </th>
                                    <th  rowspan="1" colspan="1">操作 </th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="role" item="r">
                                <tr class="gradeA odd" role="row">
                                    <td class="text-center">{$r.id}</td>
                                    <td>{$r.name}</td>
                                    <td class="text-center">{$r.members}</td>
                                    <td class="text-center">
                                        <a href="/Role/edit?id={$r.id}" class="btn btn-success">修改</a>
                                        <a href="/Role/priv?id={$r.id}" class="btn btn-default">权限</a>
                                        <a link="del" data-id="{$r.id}" class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<include file="layout:foot"/>
<script>
    $('a[link="del"]').off().on('click', function(){
        return confirm("确认删除当前角色吗？");
    })
</script>
</body>
</html>
