<include file="layout:head"/>
<style>
    .form-group {
        width: 100%;
        height: auto;
        display: block;
        clear: both;
        margin: 15px 0 15px !important;
    }

    .form-group label {
        line-height: 35px;
        text-align: right;
    }
</style>
<div class="row">
    <ul class="crumb">
        <li><a href="/Home/">后台首页</a></li>
        <li><a href="/system/setting">系统设置</a></li>
        <li><a href="/Node/index">节点管理</a></li>
        <li class="last"><b>修改节点</b></li>
    </ul>
</div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    修改节点
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form role="form" method="post" action="">
                            <input type="hidden" name="id" value="{$info.id}" />
                            <div class="form-group row">
                                <label class="col-sm-2">上级节点</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="pid">
                                        <option value="0">顶级节点</option>
                                        <foreach name="node" item="m">
                                            <option value="{$m.id}" <if condition="$info['pid'] eq $m['id']">selected</if>>{$m.name}</option>
                                            <if condition="$m.child">
                                                <foreach name="m.child" item="c">
                                                    <option value="{$c.id}" <if condition="$info['pid'] eq $c['id']">selected</if>>└─{$c.name}</option>
                                                </foreach>
                                            </if>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">节点名称</label>
                                <div class="col-sm-4"><input class="form-control" type="text" name="name" value="{$info.name}" /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">控制器</label>
                                <div class="col-sm-4"><input class="form-control" type="text" name="controller" placeholder="控制器" value="{$info.controller}" /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">方法</label>
                                <div class="col-sm-4"><input class="form-control" type="text" name="action" placeholder="方法" value="{$info.action}" /></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">设为菜单</label>
                                <div class="col-sm-4">
                                    <label>
                                        <input type="radio" name="isMenu" id="optionsRadios1" value="1" <if condition="$info.ismenu eq 1">checked</if> />是
                                    </label>
                                    <label>
                                        <input type="radio" name="isMenu" id="optionsRadios2" value="0" <if condition="$info.ismenu eq 0">checked</if> />否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">是否显示</label>
                                <div class="col-sm-4">
                                    <label>
                                        <input type="radio" name="status" id="status1" value="1" <if condition="$info.status eq 1">checked</if> />是
                                    </label>
                                    <label>
                                        <input type="radio" name="status" id="status2" value="0" <if condition="$info.status eq 0">checked</if> />否
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="">
                                    <button type="submit" class="btn btn-success">保 存</button>
                                    <button type="reset" class="btn btn-default">重 设</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-8 -->
    </div>
    <!-- /.row -->
<include file="layout:foot"/>
</body>
</html>
