<include file="layout:head"/>
<div class="row">
    <ul class="crumb">
        <li><a href="/Home/">后台首页</a></li>
        <li><a href="/system/setting">系统设置</a></li>
        <li><a href="/Node/index">节点管理</a></li>
        <li class="last"><a href="/Node/index"><b>节点列表</b></a></li>
    </ul>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">节点管理<a href="/Node/add" class="btn btn-success">添加节点</a></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                节点管理
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div>
                    <ul class="dd-list">
                        <volist name="node" id="data">
                            <li class="dd-item">
                                <button data-action="collapse" type="button" style="display: block;">&nbsp;&nbsp;&nbsp;</button>
                                <button data-action="expand" type="button" style="display: none;"> &nbsp;&nbsp;&nbsp;</button>
                                <div class="dd-handle">
                                    {$data.name} <a href="/Node/edit?id={$data.id}">改</a> <a link="del" href="/Node/delete?id={$data.id}">删</a>
                                </div>
                                <if condition="$data['child']">
                                    <ul class="dd-list">
                                        <volist name="data['child']" id="item">
                                            <li class="dd-item">
                                                <button data-action="collapse" type="button" style="display: none;">&nbsp;&nbsp;&nbsp;</button>
                                                <button data-action="expand" type="button" style="display: block;">&nbsp;&nbsp;&nbsp;</button>
                                                <div class="dd-handle">
                                                    {$item.name} <a href="/Node/edit?id={$item.id}">改</a>  <a link="del" href="/Node/delete?id={$item.id}">删</a>
                                                </div>
                                                <if condition="$item['child']">
                                                    <ul class="dd-list" style="display: none">
                                                        <volist name="item['child']" id="val">
                                                            <li class="dd-item">
                                                                <div class="dd-handle">
                                                                    {$val.name} <a href="/Node/edit?id={$val.id}">改</a>  <a link="del" href="/Node/delete?id={$val.id}">删</a>
                                                                </div>
                                                            </li>
                                                        </volist>
                                                    </ul>
                                                </if>
                                            </li>
                                        </volist>
                                    </ul>
                                </if>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
<include file="layout:foot"/>
<script>
    $('a[link="del"]').off().on('click', function(){
        return confirm("确认删除当前节点吗？");
    })

    /*收缩*/
    $('button[data-action="collapse"]').click(function () {
        $(this).hide().next('button[data-action="expand"]').show();
        $(this).siblings('.dd-list').hide();
    });
    /*展开*/
    $('button[data-action="expand"]').click(function () {
        $(this).hide().prev('button[data-action="collapse"]').show();
        $(this).siblings('.dd-list').show();
    });
</script>
</body>
</html>
